#navbar {
  height: 60px;
  width: 100%;
  background: black;
}

.nav-links {
  width: 900px;
  margin: auto;
  float: right;
  margin: 20px;
}

.nav-image {
  height: 40px;
  width: auto;
  margin-left: 5px
}

#instagram {
  height: 36px;
  width: auto;
  margin-left: 9px
}