<div class="container">
  <p>Kristine Leahy is a sports anchor, host and reporter on a variety of platforms in the CBS Sports family. She is a sideline reporter and halftime host for NCAA football and basketball games and anchors "Sports Central" for CBSLA and KCAL. Kristine also reports on all sporting events and has covered the Super Bowl, NBA and NHL finals, MLB Playoffs, and MLS Cup.</p>
  <p>She also fills in as a host on CBS SportsNet's "Lead Off." At KCAL, Kristine contributes to the Dodger's pre-game show "Think Blue," with interviews, breaking news, and feature stories. </p>
  <p>Kristine previously worked as a sports anchor and reporter for the Fox-owned station in Boston. Before that, she worked as a reporter for the Boston Celtics and as a host and reporter for the renowned New England sports radio station, WEEI. Kristine earned a Bachelor of Science in Journalism degree from Boston University where she was part of the team that created BUTV's first sports talk show, which she co-anchored for three years. </p>
  <p>Kristine was born and raised in Chicago and credits her love for sports to her father who quizzed her nightly on every Bulls Starting lineup in the '90's. Kristine has a passion for bringing out the human side of athletes, and portraying their stories through one-on-one interviews or features. </p>
  <p>She currently lives in Los Angeles. </p>
</div>