<div class="container">
  <div id="bio-content">
    <h1 id="bio-header">BIO</h1>
    <hr>
    <p>Kristine Leahy is a sports anchor, host and reporter on a variety of platforms in the CBS Sports family. She is a sideline reporter for the NCAA Tournament, NCAA football and basketball games and she also anchors "Sports Central" for CBSLA and KCAL. Kristine reports on daily sports news and has covered the Super Bowl, NBA and NHL finals, MLB playoffs, and MLS Cup. She also fills in as a host on CSB SportsNet's "Lead Off." At KCAL, Kristine contributes to th Dodger's pre-game show "Think Blue," with interviews, breaking news, and feature stories.</p>
    <p>Kristine previously worked as a sports anchor and reporter for the Fox-owned station in Boston. Before that, she worked as a reporter for the Boston Celtics and as a host and reporter for the renowned New England sports radio station, WEEI. Kristine earned a Bachelor of Science in Journalism degree from Boston University where she was part of the team that created BUTV's first sports talk show, which she co-anchored for three years. </p>
    <p>Kristine was born and raised in Chicago and credits her love for sports to her father who quizzed her nightly on every Bulls Starting lineup in the '90's. Kristine has a passion for bringing out the human side of athletes, and portraying their stories through one-on-one interviews or features. </p>
    <p>She currently lives in Los Angeles and is on the board of the Variety Boys and Girls Club of Boyle Heights.</p>
  </div>
  <img src="images/bio.jpg" alt="Kristine Leahy" id="bio-image">
</div>