<div class="container">
  <h1 id="contact-header">CONTACT</h1>
  <hr>
  <div id="contact-info">
    <p>William Morris Endeavor</p>
    <p>9601 Wilshire Blvd, Beverly Hills, CA 90210</p>
    <p>Josh Pyatt</p>
    <a href="mailto:JPyatt@wmeentertainment.comm">JPyatt@wmeentertainment.com</a>
    <p>(310) 859-4264</p>
  </div>
  <div id="contact-right">
    <img src="images/contact-page.jpg" alt="Kristine" id="contact-image">
  </div>
</div>