<div class="container">
  <p id="index-p"><span id="index-name">Kristine Leahy</span> is a sports anchor, host, and reporter on a variety of platforms in the CBS Sports family.  She is a sidleine reporter for the NCAA Tournament, NCAA football and basketball games and she also anchors "Sports Central" for CSBLA and KCAL.  Kristine reports on daily sports news and has covered the Super Bowl, NBA and NHL Finals, MLB playoffs, and MLS Cup. <a href="/bio">Read More</a>.</p>
</div>