<div id="content">
    <img src="/images/Ryan.jpg" id="ryan">
  <div id="intro">
    <h1 class="index-h1" id="name">Ryan Leahy</h1>
    <h1 class="index-h1" id="web">Web Developer</h1>
    <p id="description">I love programming to the point that I want to do it every day of my life.  After 12 weeks at <a href="http://devbootcamp.com/" id="dbc" target="_blank">Dev Bootcamp</a>,  I am ready to continue developing my new superpower.</p>
  </div>
</div>
<div id="details">
  <ul id="main-nav">
    <li class="nav-li"><a href="/about" class="links" id="about">About</a></li>
    <li class="nav-li"><a href="/projects" class="links">Projects</a></li>
    <li class="nav-li"><a href="/resume" class="links">Resume</a></li>
    <li class="nav-li"><a href="https://github.com/Rleahy22" class="links" target="_blank"><img src="/images/blacktocat.png" alt="github" class="logo">Github</a></li>
    <li class="nav-li"><a href="http://www.linkedin.com/pub/ryan-leahy/11/120/1b1" class="links" target="_blank"><img src="/images/linkedin.png" alt="linkedin" class="logo">LinkedIn</a></li>
  </ul>
</div>