<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <title>Kristine Leahy</title>
  <link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
  <nav id="social">
    <div class="social-links">
      <a href="https://twitter.com/KristineLeahy" target="_blank"><img src="images/twitter.png" class="social-image"></a>
      <a href="https://www.facebook.com/pages/Kristine-Leahy/174233969301227" target="_blank"><img src="images/facebook.png" class="social-image"></a>
      <a href="http://instagram.com/kristineleahy" target="_blank"><img src="images/instagram.png" class="social-image" id="instagram"></a>
    </div>
  </nav>
  <div class="main">
    <nav id="navbar">
      <a href="/">Home</a>
      <a href="/bio">Bio</a>
      <a href="/video">Video</a>
      <a href="/contact">Contact</a>
      <a href="/social">Social</a>
      <a href="/links">Links</a>
    </nav>
    <%= yield %>
  </div>
</body>
</html>