<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <title>Kristine Leahy</title>
  <link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
  <div class="bar" id="top-bar"></div>
  <div id="nav">
    <div id="inner-nav">
      <div id="logo">
        <h1 id="kristine">KRISTINE</h1>
        <h1 id="leahy">LEAHY</h1>
      </div>
      <nav>
        <a href="/">HOME</a>
        <a href="/bio">BIO</a>
        <a href="/video">VIDEO</a>
        <a href="/social">SOCIAL</a>
        <a href="/contact">CONTACT</a>
        <a href="/links">LINKS</a>
      </nav>
    </div>
  </div>
  <%= yield %>
  <div class="bar" id="bottom-bar"></div>
</body>
</html>