<div id="projects">
  <div id="pilgrim">
    <h1 class="projects-h1">Pilgrim</h1>
    <a href="http://www.pilgrim.io" class="project-links" target="_blank"><img src="/images/pilgrim.png" class="preview"></a>
    <p class="projects-p">Pilgrim is a global news aggregator that fetches articles in a varitey of foreign languages tailored to users' topic and language preferences.  For each article a user can dynamically increase or decrease the level of translation to match their desired level of immersion.</p>
  </div>
  <hr>
  <div id="wtf">
    <h1 class="projects-h1">WTFShouldIDoThisWeekend</h1>
    <a href="http://wtfshouldidothisweekend.herokuapp.com/" class="project-links" target="_blank"><img src="/images/wtf.gif" class="preview"></a>
    <p class="projects-p">WTFShouldIDoThisWeekend is the result of an 8-hour hackathon group project.  It is a random suggestion generator that recommends movies, concerts, and local Groupon deals.  Texting (815) 345-4239 will return a recommendation in an SMS.</p>
  </div>
  <hr>
  <div id="djsms">
    <h1 class="projects-h1">DJ SMS</h1>
    <a href="http://dj-sms.com/" class="project-links" target="_blank"><img src="/images/djsms.png" class="preview"></a>
    <p class="projects-p">DJ SMS allows users to create playlists and their friends can add songs to the playlist by texting in their song choices.  Currently in progress. For non-Rdio users, use djsmsapp@gmail.com, password: Example1234 for a demo.</p>
  </div>
</div>