<div id="resume">
	<h1 class="resume-h1" id="resume-name">Ryan Leahy<a href="Ryan_Leahy_Resume.pdf" id="download-link" download><img src="/images/DownloadButton.png" id="dl-button" alt="download as pdf"></a></h1>

	<h2 class="resume-h2" id="contact">ryanleahy90@gmail.com | (815)-861-2021 | San Francisco</h2>	
	<h1 class="resume-h1" id="skills">Skills</h1>
	<ul id="tech">
		<li class="languages">Ruby</li>
		<li class="languages">HTML</li>
		<li class="languages">CSS</li>
		<li class="languages">Javascript</li>
		<li class="languages">ActiveRecord</li>
		<li class="languages">JQuery</li>
		<li class="languages">Ruby on Rails</li>
		<li class="languages">Git</li>
		<li class="languages">SQL</li>
		<li class="languages">CoffeeScript</li>
		<li class="languages">RSpec</li>
		<li class="languages">Jasmine</li>
	</ul>
	<div id="lower">
		<h1 class="resume-h1" id="experience">Experience</h1>
		<h2 class="resume-h2">Dev Bootcamp - Student (June 2013 - August 2013)</h2>
		<h3 class="resume-h3">Learned how to program web applications over the course of 900 hours in 9 weeks</h3>
		<h2 class="resume-h2" id="projects-resume">Projects:</h2>
		<ul id="project-list">
			<li class="project-li">
				<a href="http://dj-sms.com" target="_blank" class="project-link">DJ SMS</a>
				<p class="resume-p">DJ SMS allows users to create playlists and their friends can add songs to the playlist by texting in their song choices. Currently in progress.</p>
			</li>
			<li class="project-li">
				<a href="http://www.pilgrim.io" target="_blank" class="project-link">Pilgrim</a>
				<p class="resume-p">A global news aggregator that fetches articles from international sources tailored to users’ interests.  Each article is translatable into a variety of languages so users can immerse themselves in a foreign language in a medium with which they are familiar.</p>
			</li>
			<li class="project-li">
				<a href="http://wtfshouldidothisweekend.herokuapp.com/" target="_blank" class="project-link">WTFShouldIDoThisWeekend</a>
				<p class="resume-p">A suggestion engine that helps users find weekend activities based on results from sources like Rotten Tomatoes, Groupon, and Songkick.</p>
			</li>
		</ul>
		<h2 class="resume-h2">Dev Bootcamp - Teacher's Assistant (August 2013)</h2>
		<h3 class="resume-h3">Helped newer students learn to program as a TA for 3 weeks post-graduation through mentoring, refactoring, and code reviews</h3>
		<h2 class="resume-h2">Georgia-Pacific LLC - Sourcing Analyst (May 2012-May 2013)</h2>
		<h3 class="resume-h3">Led a bi-weekly meeting for all sourcing analysts covering financial fundamentals</h3>
		<h3 class="resume-h3">Lead analyst on a $72MM national sourcing project with a potential $11MM in savings</h3>
		<h1 class="resume-h1" >Education</h1>
		<h2 class="resume-h2">Dev Bootcamp</h2>
		<h3 class="resume-h3">9 week intensive web development training using Ruby on Rails</h3>
		<h2 class="resume-h2">University of Missouri - BS Business Administration (Finance and Banking Emphasis)</h2>
		<h3 class="resume-h3">Graduated May 2012 Cum Laude</h3>
		<h3 class="resume-h3">GPA: 3.39</h3>
	</div>	
</div>