<div class="container">
  <h1 id="social-header">SOCIAL</h1>
  <hr>
  <div id="social-images">
    <img src="images/pitino.jpg" alt="Kristine with Rick Pitino" class="social-image">
    <img src="images/back_jersey.jpg" alt="Kristine in a Ducks Jersey" class="social-image">
    <img src="images/ducks.jpg" alt="Kristine in a Ducks Jersey" class="social-image">
    <img src="images/petrino.jpg" alt="Kristine with Bobby Petrino" class="social-image">
    <img src="images/blue_dress.jpg" alt="Kristine on the Dugout Phone" class="social-image">
    <img src="images/kobe.jpg" alt="Kristine with Kobe Bryant" class="social-image">
    <img src="images/turiaf.jpg" alt="Kristine with Ronny Turiaf" class="social-image">
    <img src="images/blue_purple.jpg" alt="Kristine in the Studio" class="social-image">
    <img src="images/golf.jpg" alt="Kristine with a golfer" class="social-image">
    <img src="images/trout.jpg" alt="Kristine with Mike Trout" class="social-image">
    <img src="images/kristineandkg.jpg" alt="Kristine with Mike Trout" class="social-image">
  </div>
  <a class="twitter-timeline" href="https://twitter.com/KristineLeahy" data-widget-id="425828405561413633">Tweets by @KristineLeahy</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

