<div class="container">
  <div class="video">
    <script type='text/javascript' src='http://CBSLA.images.worldnow.com/interface/js/WNVideo.js?rnd=19478;hostDomain=video.losangeles.cbslocal.com;playerWidth=345;playerHeight=194;isShowIcon=true;clipId=8545363;flvUri=;partnerclipid=;adTag=Sport;advertisingZone=CBS.LA%252Fworldnowplayer;enableAds=true;landingPage=;islandingPageoverride=false;playerType=STANDARD_EMBEDDEDscript;controlsType=overlay'></script>
    <h3 class="caption">Dwight Howard discusses criticism and Lakers with Kristine</h3>
  </div>
  <div class="video">
    <script type='text/javascript' src='http://CBSLA.images.worldnow.com/interface/js/WNVideo.js?rnd=683101;hostDomain=video.losangeles.cbslocal.com;playerWidth=615;playerHeight=365;isShowIcon=true;clipId=9067694;flvUri=;partnerclipid=;adTag=Sport;advertisingZone=CBS.LA%252Fworldnowplayer;enableAds=true;landingPage=;islandingPageoverride=false;playerType=STANDARD_EMBEDDEDscript;controlsType=fixed'></script>
    <h3 class="caption">Kristine becomes the first female in California to call a race</h3>
    <div class="video">
      <script type='text/javascript' src='http://CBSLA.images.worldnow.com/interface/js/WNVideo.js?rnd=374046;hostDomain=video.losangeles.cbslocal.com;playerWidth=615;playerHeight=365;isShowIcon=true;clipId=9033060;flvUri=;partnerclipid=;adTag=Sport;advertisingZone=CBS.LA%252Fworldnowplayer;enableAds=true;landingPage=;islandingPageoverride=false;playerType=STANDARD_EMBEDDEDscript;controlsType=fixed'></script><a href="http://video.losangeles.cbslocal.com" title=""></a>
      <h3 class="caption">Kristine talks to Doc Rivers on introduction day in LA</h3>
    </div>
    <div class="video">
      <script type='text/javascript' src='http://CBSLA.images.worldnow.com/interface/js/WNVideo.js?rnd=340360;hostDomain=video.losangeles.cbslocal.com;playerWidth=345;playerHeight=194;isShowIcon=true;clipId=7787907;flvUri=;partnerclipid=;adTag=Sport;advertisingZone=CBS.LA%252Fworldnowplayer;enableAds=true;landingPage=;islandingPageoverride=false;playerType=STANDARD_EMBEDDEDscript;controlsType=overlay'></script><a href="http://video.losangeles.cbslocal.com" title=""></a>
      <h3 class="caption">Is Mike Trout the best player in baseball? He tells Kristine. </h3>
    </div>
    <div class="video">
      <script type='text/javascript' src='http://CBSLA.images.worldnow.com/interface/js/WNVideo.js?rnd=609103;hostDomain=video.losangeles.cbslocal.com;playerWidth=615;playerHeight=365;isShowIcon=true;clipId=9460238;flvUri=;partnerclipid=;adTag=Sport;advertisingZone=CBS.LA%252Fworldnowplayer;enableAds=true;landingPage=;islandingPageoverride=false;playerType=STANDARD_EMBEDDEDscript;controlsType=fixed'></script><a href="http://video.losangeles.cbslocal.com" title=""></a>
      <h3 class="caption">Kristine gets a hockey lesson from Ryan Getzlaf and Corey Perry</h3>
    </div>
    <div class="video">
      <script type='text/javascript' src='http://CBSLA.images.worldnow.com/interface/js/WNVideo.js?rnd=614861;hostDomain=video.losangeles.cbslocal.com;playerWidth=615;playerHeight=365;isShowIcon=true;clipId=9385929;flvUri=;partnerclipid=;adTag=Sport;advertisingZone=CBS.LA%252Fworldnowplayer;enableAds=true;landingPage=;islandingPageoverride=false;playerType=STANDARD_EMBEDDEDscript;controlsType=fixed'></script><a href="http://video.losangeles.cbslocal.com" title=""></a>
      <h3 class="caption">Kristine reports from NLDS</h3>
    </div>
    <div class="video">
      <script type='text/javascript' src='http://CBSLA.images.worldnow.com/interface/js/WNVideo.js?rnd=362712;hostDomain=video.losangeles.cbslocal.com;playerWidth=615;playerHeight=365;isShowIcon=true;clipId=9188316;flvUri=;partnerclipid=;adTag=Sport;advertisingZone=CBS.LA%252Fworldnowplayer;enableAds=true;landingPage=;islandingPageoverride=false;playerType=STANDARD_EMBEDDEDscript;controlsType=fixed'></script><a href="http://video.losangeles.cbslocal.com" title=""></a>
      <h3 class="caption">Lakers Kobe Bryant and Strength and Conditioning coach talk NBA health with Kristine</h3>
    </div>
    <div class="video">
      <script type='text/javascript' src='http://CBSLA.images.worldnow.com/interface/js/WNVideo.js?rnd=493964;hostDomain=video.losangeles.cbslocal.com;playerWidth=615;playerHeight=365;isShowIcon=true;clipId=9091902;flvUri=;partnerclipid=;adTag=Sport;advertisingZone=CBS.LA%252Fworldnowplayer;enableAds=true;landingPage=;islandingPageoverride=false;playerType=STANDARD_EMBEDDEDscript;controlsType=fixed'></script><a href="http://video.losangeles.cbslocal.com" title=""></a>
      <h3 class="caption">Hamilton family has 4 star players</h3>
    </div>
    <div class="video">
      <script type='text/javascript' src='http://CBSLA.images.worldnow.com/interface/js/WNVideo.js?rnd=299441;hostDomain=video.losangeles.cbslocal.com;playerWidth=615;playerHeight=365;isShowIcon=true;clipId=9654511;flvUri=;partnerclipid=;adTag=Sport;advertisingZone=CBS.LA%252Fworldnowplayer;enableAds=true;landingPage=;islandingPageoverride=false;playerType=STANDARD_EMBEDDEDscript;controlsType=fixed'></script><a href="http://video.losangeles.cbslocal.com" title=""></a>
      <h3 class="caption">Kristine reports on Clippers win over Spurs</h3>
    </div>
    <div class="video">
      <script type='text/javascript' src='http://CBSLA.images.worldnow.com/interface/js/WNVideo.js?rnd=167820;hostDomain=video.losangeles.cbslocal.com;playerWidth=615;playerHeight=365;isShowIcon=true;clipId=9212393;flvUri=;partnerclipid=;adTag=Sport;advertisingZone=CBS.LA%252Fworldnowplayer;enableAds=true;landingPage=;islandingPageoverride=false;playerType=STANDARD_EMBEDDEDscript;controlsType=fixed'></script><a href="http://video.losangeles.cbslocal.com" title=""></a>
      <h3 class="caption">Inside the Drew League</h3>
    </div>
    <div class="video">
      <script type='text/javascript' src='http://CBSLA.images.worldnow.com/interface/js/WNVideo.js?rnd=897106;hostDomain=video.losangeles.cbslocal.com;playerWidth=615;playerHeight=365;isShowIcon=true;clipId=8904507;flvUri=;partnerclipid=;adTag=Sport;advertisingZone=CBS.LA%252Fworldnowplayer;enableAds=true;landingPage=;islandingPageoverride=false;playerType=STANDARD_EMBEDDEDscript;controlsType=fixed'></script><a href="http://video.losangeles.cbslocal.com" title=""></a>
      <h3 class="caption">Pitcher recovers from broken neck to take the mound</h3>
    </div>
    <div class="video">
      <script type='text/javascript' src='http://CBSLA.images.worldnow.com/interface/js/WNVideo.js?rnd=655937;hostDomain=video.losangeles.cbslocal.com;playerWidth=615;playerHeight=365;isShowIcon=true;clipId=9116332;flvUri=;partnerclipid=;adTag=Sport;advertisingZone=CBS.LA%252Fworldnowplayer;enableAds=true;landingPage=;islandingPageoverride=false;playerType=STANDARD_EMBEDDEDscript;controlsType=fixed'></script><a href="http://video.losangeles.cbslocal.com" title=""></a>
      <h3 class="caption">Kristine gets a lesson in beach volleyball</h3>
    </div>
    <div class="video">
      <script type='text/javascript' src='http://CBSLA.images.worldnow.com/interface/js/WNVideo.js?rnd=952169;hostDomain=video.losangeles.cbslocal.com;playerWidth=615;playerHeight=365;isShowIcon=true;clipId=9644612;flvUri=;partnerclipid=;adTag=Sport;advertisingZone=CBS.LA%252Fworldnowplayer;enableAds=true;landingPage=;islandingPageoverride=false;playerType=STANDARD_EMBEDDEDscript;controlsType=fixed'></script><a href="http://video.losangeles.cbslocal.com" title=""></a>
      <h3 class="caption">USC Center Omar Oraby's Egyptian background</h3>
    </div>
  </div>
</div>